DB_URL=jdbc:postgresql://localhost:5432/peri
DB_USERNAME=postgres
DB_PASSWORD=your_database_password

MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

APP_JWT_SECRET=replace_with_a_long_random_secret
APP_JWT_ISSUER=PERI
APP_JWT_DURATION_MS=600000

APP_BASE_URL_BACKEND=http://localhost:9090
APP_BASE_URL_FRONTEND=http://localhost:5173
